<form autocomplete="off" #orderF="ngForm" *ngIf="service.formData" (submit)="onSubmit(orderF)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Order No.</label>
        <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text">#</div>
          </div>
          <input  class="form-control" name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" readonly>
        </div>
      </div>

      <div class="form-group">
        <label>Customer</label>
        <select class="form-control" name="CustomerId" #CustomerId="ngModel" [(ngModel)]="service.formData.CustomerId"
         [class.is-invalid]="!isValid && service.formData.CustomerId==0">
           <option value="0">Seleccione</option>
           <option *ngFor="let customer of customerList" value="{{customer.customer_id}}" >{{customer.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label>Payment Method</label>
        <select  class="form-control" name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod">
          <option value="">Seleccione</option>
          <option value="cash">Cash</option>
          <option value="Card">Card</option>
       </select>
      </div>


      <div class="form-group">
        <label>Grand Total</label>
        <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text">$</div>
          </div>
          <input  class="form-control" name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" readonly>
        </div>

      </div>
    </div>

  </div>

  <!-- Table Orders Item  -->
  <table class="table table-borderless">
    <thead class="thead-light">
        <th>Food</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>
          <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.OrderId)"><i class="fa fa-plus"></i>Add Item</a>
        </th>
    </thead>
    <tbody>
    <tr *ngIf="service.orderItems.length==0"
        [class.text-danger]="!isValid && service.orderItems.length==0"
    >
      <td class="font-italic text-center" colspan="5">
          No food item selected for this order.
      </td>
    </tr>

      <tr *ngFor="let item of service.orderItems; let i= index">
        <td>{{item.ItemName}}</td>
        <td>{{item.Price}}</td>
        <td>{{item.Quantity}}</td>
        <td>{{item.Total}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.OrderId)">
            <i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemId,i)">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>


  </table>
  <!-- Fin de la tabla -->


  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
  </div>
</form>
